PORT=3001
# Railway Test Environment example
DATABASE_URL="postgresql://postgres:SDDyuSvBSUVpZTFLoLunxKSevXAnLHrD@mainline.proxy.rlwy.net:21430/railway"
REDIS_URL="redis://default:xXSjiwZBCMjzuLCpzUjjlcpKULVgwCtp@turntable.proxy.rlwy.net:14384"